@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/rubik/Rubik-VariableFont_wght.ttf') format('truetype');
}

:root {
    --color-darker:  #191917;
    --color-dark:    #242520;
    --color-mid:     #373a33;
    --color-light:   #a5aa98;
    --color-lighter: #f0f3ee;
    --color-primary: #494e37;

    --text-xl: 3.375rem; /* 54px */
    --text-lg: 2.000rem; /* 32px */
    --text-md: 1.250rem; /* 20px */
    --text-sm: 1.000rem; /* 16px */
    --text-xs: 0.875rem; /* 14px */
}

* {
    margin: 0;
    padding: 0;
}

html, body {
    color: var(--color-light);
    background-color: var(--color-darker);

    font-size: var(--text-sm);
    font-family: "Roboto Condensed", sans-serif;
}

.bg-darker { background-color: var(--color-darker); }
.bg-dark { background-color: var(--color-dark); }
.bg-mid { background-color: var(--color-mid); }
.bg-light { background-color: var(--color-light); }
.bg-lighter { background-color: var(--color-lighter); }
.bg-primary { background-color: var(--color-primary); }

.text-darker { color: var(--color-darker); }
.text-dark { color: var(--color-dark); }
.text-mid { color: var(--color-mid); }
.text-light { color: var(--color-light); }
.text-lighter { color: var(--color-lighter); }
.text-primary { color: var(--color-primary); }

.text-xl { font-size: var(--text-xl); }
.text-lg { font-size: var(--text-lg); }
.text-md { font-size: var(--text-md); }
.text-sm { font-size: var(--text-sm); }
.text-xs { font-size: var(--text-xs); }

.weight-thin { font-weight: lighter; }
.weight-normal { font-weight: normal; }
.weight-bold { font-weight: bold; }