html::-webkit-scrollbar {
    display: none;
}

home-page-canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -50;

    pointer-events: none;
}

section {
    min-width: calc(100% - 4rem);
    min-height: calc(100vh - 8rem);

    padding: 4rem 2rem;
}


#intro-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 2rem;
}

.intro-logo {
    width: 26rem;
    height: auto;

    filter: drop-shadow(0 0 4rem #000000);
}

.intro-btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;

    /* margin-top: auto; */
}

@media (max-width: 56rem) {
    .intro-logo {
        width: 20rem;
    }
}

@media (max-width: 40rem) {
    .intro-logo {
        width: 14rem;
    }
}