---
import RootLayout, { type RootLayoutProps } from "./RootLayout.astro";

interface Props extends RootLayoutProps {};
export type CardLayoutProps = Props;
---

<RootLayout {...Astro.props}>
    <slot name="non-card" />

    <div id="card-container">
        <slot />
    </div>

    <div id="card-dot-map-container" />
</RootLayout>